<%= simple_form_for(@map) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :map_id %>
    <%= f.input :map_url %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
