<p id="notice"><%= notice %></p>

<p>
  <strong>Map:</strong>
  <%= @map.map_id %>
</p>
<p>
  <strong>Nombre de points associés:</strong>
  <%= @nb_map %>
</p>
<p>
  <strong>Map url:</strong>
  <%= @map.map_url %>
</p>
<p class="map">
	<%= cl_image_tag(@map.map_url) %>
  <% @all_points.each do |un_point| %>
    <a href="http://localhost:3000/points/4" class="point" style="top: <%= un_point.x %>%; left:<%= un_point.y %>%">
      <%= link_to '', points_path %>
    </a>
  <% end %>
</p>

<ul>
<%= simple_form_for :points do |points_form| %>
<li>
      <%= points_form.label :map_id %>
      <%= points_form.label "#{@map.map_id}" %>

      <%= points_form.label :x %>
      <%= points_form.text_field :x %>

      <%= points_form.label :y %>
      <%= points_form.text_field :y %>

      <%= points_form.hidden_field(:photo_url_cache) %>
      <%= points_form.file_field(:photo_url) %>
  </li>
  <br>
  <div class="form-actions">
    <%= points_form.button :submit %>
  </div>

<% end %>
</ul>

<% link_to 'Ajouter un point', new_point_path(@map) %> 
<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>