<p id="notice"><%= notice %></p>

<p>
  <strong>Map:</strong>
  <%= @map.map_id %>
</p>

<p>
  <strong>Map url:</strong>
  <%= @map.map_url %>
</p>

<p>
	<%= cl_image_tag(@map.map_url) %>
</p>

<%= link_to 'Ajouter un point', new_point_path(@map) %> |
<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>