<p id="notice"><%= notice %></p>

<p>
  <strong>Map:</strong>
  <%= @map.map_id %>
</p>

<p>
  <strong>Map url:</strong>
  <%= @map.map_url %>
</p>

<ul>
	<% @map.points.each do |point| %>
	<li>
		<%= point.inspect %>
		<%= link_to "Point ##{point.id}", point_path(point) %>
	</li>
	<% end %>
	<li><%= cl_image_tag(@map.map_url, :alt => map.short_name) %></li>
</ul>

<%= link_to 'Add a photo',new_point_path(@map) %> |
<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
