<!DOCTYPE html>
<html>
<head>
  <title>SitRubPanoramix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'sphere', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      
        <% if user_signed_in? %>
          <li class="col-md-1"><p><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p></li>
        <% else %>

        <li class:"col-md-1"><p><%= link_to('Login', new_user_session_path)  %></p></li>
        <% end %>

        <% if user_signed_in? %>
          <li class="col-md-2"><p><%= link_to('Edit registration', edit_user_registration_path) %></p></li>
      
        <% else %>
          <li class="col-md-1"><p><%= link_to('Register', new_user_registration_path)  %></p></li>
        <% end %>
        
        <% if user_signed_in? %>
          <li class="col-md-1"><p><%=link_to("Accueil",root_url)%></p></li>
          
          <li class="col-md-2"><p><%=link_to("Voir les points",points_path)%></p></li>
          <li class="col-md-2"><p><%=link_to("Voir les cartes",maps_path)%></p></li>
          <li class="col-md-2"><p><%=link_to("Upload une carte",new_map_path)%></p></li>
          <li class="col-md-2"><p><%=link_to("Upload une photo",new_point_path)%></p></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


  <%= yield %>

</body>
</html>