<%= simple_form_for(@point) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="position-x"><%= f.input :x %></div>
    <div class="position-y"><%= f.input :y %></div>

    <%= f.input :map_id %>
  </div>

  <%= f.hidden_field(:photo_url_cache) %>
  <%= f.file_field(:photo_url) %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  
<% end %>
