<%= simple_form_for(@point) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="position-x"><%= f.input :x %></div>
    <div class="position-y"><%= f.input :y %></div>
  </div>

  <%= f.hidden_field(:photo_url_cache) %>
  <%= f.file_field(:photo_url) %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <div class="map">
    <div class="point" data-x="<%= @point.x %>" data-y="<%= @point.y %>"></div>
  </div>
  
<% end %>
