<p id="notice"><%= notice %></p>

<h1>Listing Points</h1>

<table>
  <thead>
    <tr>
      <th>X</th>
      <th>Y</th>
      <th>Id</th>
      <th>Map</th>
      <th>Photo url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.x %></td>
        <td><%= point.y %></td>
        <td><%= point.id %></td>
        <td><%= point.map_id %></td>
        <td><%= point.photo_url %></td>
        <td><%= link_to 'Show', point %> | </td>
        <td><%= link_to 'Edit', edit_point_path(point) %> | </td>
        <td><%= link_to 'Destroy', point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
