<%= javascript_include_tag 'sphere', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<p id="notice"><%= notice %></p>

<p>
  <strong>X:</strong>
  <%= @point.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @point.y %>
</p>

<p><%= cl_image_tag (@point.photo_url) %></p>
<div id="sphere" style="width: 100%; height: 600px"></div>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
<script type="text/javascript">
	setup("<%= @point.photo_url %>");
</script>
